.workspace-ribbon.mod-left {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.workspace-ribbon.mod-left .workspace-ribbon-inner {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	min-height: 0;
}
.workspace-ribbon.mod-left .quasar-ribbon-settings {
	margin-top: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.quasar-settings-list {
	border-top: 1px solid var(--background-modifier-border);
	margin-top: 0.75em;
	padding-top: 0.75em;
}

.quasar-settings-list > .setting-item {
	border-top: none !important;
}
